<footer class="rodape">
    <div class="container-rodape">
        <div class="coluna-rodape coluna-marca">
            <h3 class="logo-rodape">HORB</h3>
            <p class="descricao-rodape">Hotel Ouro Real Brilhante - Excelência em hospitalidade desde 2018.</p>
            <div class="icones-sociais">
                <a href="#" class="icone-social"><i class="fab fa-instagram"></i></a>
                <a href="#" class="icone-social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icone-social"><i class="fas fa-envelope"></i></a>
            </div>
        </div>

        <div class="coluna-rodape coluna-links">
            <h4 class="titulo-rodape">Navegação</h4>
            <ul class="links-rodape">
                <li><a href="/">Início</a></li>
                <li><a href="/#servicos">Serviços</a></li>
                <li><a href="/#estatisticas">Números</a></li>
                <li><a href="/#depoimentos">Depoimentos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>

        <div class="coluna-rodape coluna-contato">
            <h4 class="titulo-rodape">Contato</h4>
            <ul class="contato-rodape">
                <li><i class="fas fa-clock"></i> Segunda - Sábado (8h - 17h)</li>
                <li><i class="fas fa-clock"></i> Domingo (9h - 16h)</li>
                <li><i class="fas fa-envelope"></i> reservas@hotelhorbo.com</li>
                <li><i class="fas fa-phone"></i> (84) 98842-6424</li>
            </ul>
        </div>
    </div>

    <div class="rodape-inferior">
        <p>&copy; 2025 HORB - Hotel Ouro Real Brilhante. Todos os direitos reservados.</p>
    </div>
</footer>
